<!DOCTYPE html>
<html>
<head>
	<title>Timetable</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
	<h1>Timetable</h1>
	<table>
		<tr>
			<th>Name</th>
			<th>Start Time</th>
			<th>End Time</th>
			<th>Date</th>
		</tr>
		{% for event in events %}
		<tr>
			<td>{{ event[0] }}</td>
			<td>{{ event[1] }}</td>
			<td>{{ event[2] }}</td>
			<td>{{ event[3] }}</td>
		</tr>
		{% endfor %}
	</table>
	<form method="POST" action="{{ url_for('add_event') }}">
		<label>Name:</label>
		<input type="text" name="name"><br>
		<label>Start Time:</label>
		<input type="text" name="start_time"><br>
		<label>End Time:</label>
		<input type="text" name="end_time"><br>
		<label>Date:</label>
		<input type="text" name="date"><br>
		<input type="submit" value="Add Event">
	</form>
</body>
</html>
