<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Timetable Web App</title>
  </head>
  <body>
    <h1>Timetable Web App</h1>
    <form action="/" method="post">
      <label for="subject">Subject:</label>
      <input type="text" id="subject" name="subject"><br>
      
      <label for="day">Day:</label>
      <select id="day" name="day">
        <option value="monday">Monday</option>
        <option value="tuesday">Tuesday</option>
        <option value="wednesday">Wednesday</option>
        <option value="thursday">Thursday</option>
        <option value="friday">Friday</option>
      </select><br>
      
      <label for="time start">Time start:</label>
      <input type="text" id="timestart" name="time start"><br>

      <label for="time end">Time end:</label>
      <input type="text" id="time end" name="time end"><br> 
      
      <input type="submit" value="Add Subject">
    </form>
    <br>
    <h2>Current Timetable:</h2>
    <ul>
      {% for subject in subjects %}
        <li>{{ subject }}</li>
      {% endfor %}
    </ul>
  </body>
</html>
